:root {
  --foreground-color: red;
  --background-color: green;
}
body {
  margin: 0;
  padding: 0;
  
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;
}

.flex-expander{
  flex-grow: 1;
}