:root {
  --foreground-color: red;
  --background-color: green;
}
body {
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  color: white;
}

html,
body {
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.flex-expander {
  flex-grow: 1;
}

.popup-container {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000020;
  align-content: center;
  justify-items: center;
  z-index: 10000;
}
