@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

:root {
    --Violet_Blue: RGB(59, 70, 164);
    --French_Rose: RGB(250, 78, 147);
    --Metallic_Yellow: RGB(255, 216, 20);
    --Caribbean_Green: RGB(0, 191, 156);

}